.client :global {
  .content-wrapper {
    width: 1280px;
    max-width: 100%;
    margin: 50px auto 0 auto;

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      align-items: center;

      .left {
        .client {
          background-color: #1976d2;
          color: white;
          width: max-content;
          margin-bottom: 5px;
          border-radius: 4px;
          font-size: 15px;
          padding: 4px 12px;
          font-weight: 400;
        }
      }

      .right {
        display: flex;
        gap: 10px;

        .config {
          min-width: max-content;
        }
      }
    }

    .content {

    }
  }
}

.clientDashboard :global {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  padding-bottom: 50px;

  .content-wrapper {

    .mini-title{
      //font-size: 18px;
      //color: #605f60;
      padding: 11px 16px 8px 16px;
      //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      display: flex;
      align-items: center;
      color: #323130;
    }

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      align-items: center;

      .left {
        .client {
         span{
           background-color: #1976d2;
           color: white;
           width: max-content;
           margin-bottom: 5px;
           border-radius: 4px;
           font-size: 15px;
           padding: 4px 12px;
           font-weight: 400;
         }
        }
      }

      .right {
        display: flex;
        gap: 10px;

        .config {
          min-width: max-content;
        }
      }
    }

    > .content {
      display: flex;
      gap: 30px;

      .custom-card {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 1px #00000038;
        padding: 30px;
      }

      .left {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .progress-bar {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }

        .segments {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;

          > .content {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            align-items: flex-start;
          }

          .title {
            font-size: 18px;
            color: #605f60;
          }
        }
      }

      .right {
        width: 900px;
        gap: 15px;
        display: flex;
        flex-direction: column;

        .timeline {
          padding: 10px;

          .content {
            height: 320px;
            overflow-y: auto;


            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px transparent;
              background-color: transparent;
            }

            &::-webkit-scrollbar {
              width: 6px;
              background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
              background-color: rgba(77, 77, 77, 0.52);
            }
          }
        }

        .actions {
          display: flex;

          > div {
            flex: 1;
            height: 320px;
            padding: 10px;

            &:nth-of-type(1) {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}