.merchants :global {
  .content-wrapper {
    width: 1280px;
    max-width: 100%;
    margin: 50px auto 0 auto;

    .top {
      margin-bottom: 30px;

      .title {
        color: black;
        font-size: 30px;
        font-weight: 600;
      }
    }

    .content {
      .merchant {
        margin-bottom: 50px;

        .header {

          h2 {
            background-color: #1976d2;
            color: white;
            width: max-content;
            margin-bottom: 5px;
            border-radius: 4px;
            font-size: 15px;
            padding: 4px 12px;
            font-weight: 400;
          }

          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}