.primaryNav :global {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  background-color: white;

  .content-wrapper {
    width: 1280px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    .left {
      display: flex;

      .logo {
        img {
          width: 130px;
          object-fit: contain;
        }
      }

      .search {
        display: flex;
        align-items: center;
        width: 400px;
        position: relative;
        margin-left: 15px;

        .search-group {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          height: 35px;
          overflow: hidden;
          border: 1px solid #efefef;

          input {
            border-radius: 0;
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            padding: 0 15px;
          }

          .search-icon {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
          }
        }

        .list {
          background-color: white;
          position: absolute;
          top: 40px;
          width: 100%;
          border: 1px solid #efefef;
          z-index: 2;

          .my-chip {
            line-height: normal;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .menu {
        ul {
          display: flex;

          li {
            list-style: none;
            display: flex;
            align-items: center;
            margin-right: 60px;
            color: #605f60;
            font-weight: 500;
            font-size: 15px;

            &:nth-last-of-type(1) {
              margin-right: 40px;
            }

            svg {
              margin-left: 14px;
            }

            &.left-icon {
              svg {
                margin-right: 14px;
                margin-left: 0;
              }
            }
          }
        }
      }

      .profile {
        display: flex;
        align-items: center;
        background: #f8f9fc;
        border-radius: 25px;
        padding: 4px 18px 4px 4px;

        .avatar {
          width: 35px;
          height: 35px;
          border-radius: 100%;
          overflow: hidden;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .name {
          margin-right: 5px;
          color: #605f60;
          font-weight: 500;
          font-size: 15px;
        }
      }
    }
  }
}