.secondaryNav :global {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: white;

  .content-wrapper {
    width: 1280px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 15px;

    .menu {
      ul {
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: center;
          margin-right: 45px;
          color: #2e2e2e;
          font-weight: 500;
          font-size: 15px;
          padding: 15px 20px;

          &.active {
            color: #1976d2;
            border-bottom: 1px solid #1976d2;
          }

          &:nth-last-of-type(1) {
            margin-right: 0;
          }
        }
      }
    }

  }

}